.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

nav.navbar.navbar-expand-sm.navbar-dark.bg-dark {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.table-warning {
  background-color: red;
}
