.homePage {
  position: relative;
  color: white;
  background: black;
}

#homePage_title {
  color: azure;
  background-color: rgba(53, 53, 53, 0.45);
  padding: 5px;
  top: 0;
}

.\#homePage_body {
  margin: 50vh;
}

#homePage__video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(10px);
}
