.viewCartPage {
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.548);
  font-size: 16px;
  padding: 5%;
}

.viewCartPage {
  border: solid 1px azure;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#productGrid {
  padding: 5px;
  border: solid 1px azure;
  align-items: center;
  display: flex;
  justify-content: center;

  width: 100%;
}

#CartProductField {
  border: 1px solid azure;
  margin-top: 10px;
  margin-bottom: 10px;
}

#CartButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

button.btn.btn-primary.ButtonText {
  font-size: 24px;
}
