/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #201f1f;
}

.gameTitle {
  padding: 5px;
  text-align: center;
  color: azure;
  background-color: hsl(210, 11%, 15%, 0.5);
}

.gameTable {
  align-items: center;
  justify-content: center;
}
#replayGame {
  color: azure;
  background-color: black;
  outline: 1px solid azure;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  transition: background-color 1s;
}

#replayGame:hover {
  color: black;
  background-color: azure;
}

.replayGame {
  padding-bottom: 20px;
}
.centerReplayBtn {
  padding-bottom: 9px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.gameCell {
  margin: 1%;
}
.gameCell {
  float: none;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;

  border: 1px solid black;
  border-radius: 90px;
  transition-duration: 0.5s;
}

.gameletter-o,
.gameletter-x {
  border-radius: 15px;
  max-width: 50%;
}

.gameletter-back {
  border-radius: 15px;
  max-width: 50%;
}

.container-fluid {
  max-width: 50%;
  padding: 5px;
  display: block;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.gameTile-front,
.gameTile-back {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.gameHover:before {
  display: none;
}
.gameHover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotateY(180deg);
}
.card {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.card-body {
  color: azure;
  background-color: rgba(32, 31, 31, 0.3);
  border-radius: 90px;
}

.playerTurnID {
  color: red;
  font-size: 36px;
  font-weight: bold;
}

body {
  background: linear-gradient(to right, #ff0000, #000000, #00aeff);
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.p1,
.X {
  color: #ff0000;
  font-size: 36px;
  font-weight: bold;
}

.p2,
.O {
  color: #00aeff;
  font-size: 36px;
  font-weight: bold;
}

footer {
  padding: 5px;
  text-align: center;
  color: azure;
  background-color: hsl(210, 11%, 15%, 0.5);
  margin-top: 8px;
}

#gameOver {
  color: blue;
  background-color: blue;
}

#playerTurnContainer {
  color: rgba(240, 255, 255, 0) !important;
}

#footerIcon {
  text-decoration: none;
}

.icon {
  display: inline-block;
  font: size 44px;
  animation: float 5s ease-in-out infinite;
}

.bi-linkedin {
  color: #0077b5;
}

.bi-github {
  color: #4078c0;
  animation-delay: 2s;
}

.bi-envelope {
  color: #ea4335;
  animation-delay: 1s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
