/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #201f1f;
}

.gameTitle {
  background-color: #201f1f;
  text-align: center;
  color: azure;
}

.gameTable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.replayGame {
  padding-bottom: 20px;
}
.centerReplayBtn {
  padding-bottom: 9px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameCell {
  float: none;
  margin: 10px 10px;
  display: block;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
  background-color: black;
  transition-duration: 0.5s;
}

.container-fluid {
  max-width: 75%;
  padding: 2px;
  border: 1px solid red;
  background-color: #201f1f;
}

.gameletter-o,
.gameletter-x {
  max-width: 75%;
}

.gameTile-front,
.gameTile-back {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.gameTile-front {
  transform: rotateY(180deg);
}

.gameHover {
  background-color: red;
  transform: rotateY(180deg);
}

/* Spinner Test */
.spinner {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #008cff 0%, #fffc41 100%);
  animation: spin 0.9s infinite linear;
}

.spinner:after {
  width: 85%;
  height: 85%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
