.title {
  color: azure;
  padding: 2%;
}

.navbar-nav,
#productDropdown,
#productTable,
#cartButtons,
#qtyInput {
  text-align: center;
  float: none;
  margin: 0 auto;
  display: block;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

nav.navbar.navbar-expand-sm.navbar-dark.bg-dark {
  text-align: center;
  float: none;
  margin: 0 auto;
  display: block;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  color: azure;
  background-color: hsl(24, 23%, 33%, 0.8);
}

#cartButtons {
  padding: 0.5%;
}

.bodyBg {
  /* background-color: red; */
  background: linear-gradient(to right, #6f4e37, #d0bb94, #2b0f0e);
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.colBannerL {
  max-width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #675041;
  border-radius: 5px;
}

.colBannerR {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: azure;
  background-color: #675041;
  border-radius: 5px;
}
#productDropdown {
  padding-bottom: 18px;
}
#deleteProductBtn {
  background-color: rgb(83, 0, 0);
}

.productContainer {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.289);
}

.productImage {
  max-width: 20%;
  padding-bottom: 5px;
  border-radius: 100%;
}

#qtyInput {
  width: 20%;
}
.qtyInput {
  padding-bottom: 5px;
}

.bodyText {
  padding: 2%;
  background-color: hsl(24, 23%, 33%, 0.5);
  border-radius: 10px;
}

footer {
  padding: 20px;
  text-align: center;
  color: azure;
  background-color: hsl(210, 11%, 15%, 0.25);
}

#footerIcon {
  text-decoration: none;
}

.icon {
  display: inline-block;
  font: size 44px;
  animation: float 5s ease-in-out infinite;
}

.bi-linkedin {
  color: #0077b5;
}

.bi-github {
  color: #4078c0;
  animation-delay: 2s;
}

.bi-envelope {
  color: #ea4335;
  animation-delay: 1s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
