.addReviewBody {
  color: white;
  padding: 10px;
  background-color: rgba(39, 39, 39, 0.22);
  width: 100%;
}

.addReviewBody {
  border-radius: 5px;
  text-align: center;
  float: none;
  margin: 0 auto;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

#reviewCommentBox {
  color: black;
  height: auto;
  width: 50%;
}

.card#addReviewCard {
  background-color: rgba(39, 39, 39, 0.22);
  text-align: center;
  /* border-radius: 5px; */
  float: none;
  margin: 0 auto;
  display: block;
  width: 25%;
}

input[type="text"],
select#productReviewDropdown,
input#reviewCommentBox {
  margin: 2px;
}
